.DS_Store
.bundle
db/*.sqlite3
db/dump/*
log/*.log
tmp/**/*
tmp/restart.txt
tmp/
config/mailserver_setting.rb
config/database.yml
config/user_db.yml
config/omniauth_settings.rb
config/application_name.conf
config/application_css.conf
config/environments/production.rb
config/environemnts/development.rb
public/system/*
public/photos
public/photos/*
public/static_pages/*
public/static_pages/**/*
dynamic_form/*
