<div id='episodes'>
  <% title t(:listing_episodes), false %>
  <%= will_paginate @episodes %>
  <% if (params[:page].nil? || params[:page] == '1') && params[:tag].nil? %>
    <%= html_include('public/static_pages/episodes.html').html_safe %>
  <% end %>
  <%= render :partial => @episodes, :locals => { :show_all => false } %>
  <%= will_paginate @episodes %>
</div>
