<% title t(:about), false %>
<div style='height: 850px;'>
  <%= html_include('public/static_pages/about.html').html_safe %>
  <p><%= sc(:pr,:nbsp) -%><a href=# onclick="history.go(-1); return false;">Back</a></p>
  <span style='clear: both;'><br/></span>
</div>
<span style='clear: both;'><br/></span>

