OMNIAUTH_TWITTER_KEY      = 'hdTbiG277HNogJi80Myzw'
OMNIAUTH_TWITTER_SECRET   = 'jmnblcozTMgxyOzMd6IBsMUsFIWYWT6d42waEjiw'

OMNIAUTH_FACEBOOK_KEY     = '126195024101106'
OMNIAUTH_FACEBOOK_SECRET  = '58d8d09892f8d7dfec6926e06834795b'

OMNIAUTH_LINKED_IN_KEY    = 'GBr4udEQ9VcZUD7jaOSw9EmOfPbJCs9O4afOXLDoeCrnBealkGm9WAYRTBvh2GbI'
OMNIAUTH_LINKED_IN_SECRET = 'BvZUk-Mj1TY_B9JoTTX6I4bKBsyN8jVzjESNHLNbA9qX0VgO-I2KI_iTwqgpovA6'

OMNIAUTH_BASECAMP_ID      = '868ce26e020877c6df8aa7064f3bdaf988ed6a7b'
OMNIAUTH_BASECAMP_SECRET  = '461eca0e256d5026d48561a2528e957091fb5cba'

OMNIAUTH_GITHUB_ID        = 'd910cbcd8841b16b4b87'
OMNIAUTH_GITHUB_SECRET    = 'bb945431c05ef4b7b491b4e8edf63fdcf4ce9a87'
