development:
  use_remote_database: false    #user model will be stored in the default database
                               
production:
  use_remote_database: false    #user model will be stored in the default database
  
test:
  use_remote_database: false

################################################################################
# Example for a configuration where, in production, an extrnal database for
# 'User' will be used.
################################################################################
#
# development:
#   use_remote_database: user_dev # create an entry user_dev in file database.yml
#                                 # which will be used to store the user-model                               
# production:
#   use_remote_database: enterprise_user_db 
#                                 # define connection 'enterprise_user_db'
#                                 # in database.yml
# 
# test:
#   use_remote_database: false    # use local database for tests
# 
