<h1>Editing subscription</h1>

<%= render 'form' %>

<%= link_to 'Show', user_subscription_path(@subscription.user,@subscription) %> |
<%= link_to 'Back', user_subscriptions_path(@subscription.user) %>
