<h3>Deutsch</h3>

<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link angefragt um dein Passwort zu ändern und du kannst dies durch den folgenden Link tun:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Wenn du das nicht angefragt hast, ignoriere bitte diese Mail.</p>
<p>Dein Passwort bleibt unverändert solange du diesen Link nicht folgst.</p>


<h3>English</h3>

<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
